// @import "config/fonts";
// @import "config/colors";
// @import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap"; // from the node_modules
@import "font-awesome";

// Your CSS partials
// @import "components/index";
// @import "pages/index";

.title {
  margin: 8px;
  padding: 8px;
}

body {
  background: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73));
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

html {
    height: 100%;
}

.card {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 460px;
}

.show-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 200px;
  background-color: white;
  border-radius: 4px;
}

.card-desc {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: auto;
  background-color: white;
  border-radius: 4px;
}

ul.list-inline {
  position: absolute;
  bottom: 0;
}


.fa-dollar-sign {
  padding-left: 8px;
  padding-right: 1px;
}

.fa-users {
  padding-left: 8px;
  padding-right: 2px;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 56px;
  font-weight: bold;
}
.image {
  object-fit: cover;
  height: 150px;
  width: 100%;
  border-radius: 4px;
}

.show-image {
  object-fit: cover;
  height: 300px;
  width: 100%;
}

.card-info {
  padding: 8px;
}

#socials {
  display: flex;
  margin: 8px;
  color: purple;
  font-size: 32px;
}

.card > hr {
  margin: 0;
}
